<table class="table">
    <thead>
      <tr>
        <th style="width: 10%">
            <a href="/users">Пользователи</a>
        </th>
        <th style="width: 10%">
          <a href="/groups">Группы</a>
        </th>
        <th style="width: 10%">
          <a href="/tasks">Задания</a>
        </th>
        <th style="width: 10%">
          <a href="/solved">Оценки</a>
        </th>
        <th style="width: 10%">
          <a href="/profile">Профиль</a>
        </th>
        <th style="width: 90%">
          <a href="/auth">Выйти</a>
        </th>
      </tr>
    </thead>
  </table>

  <a href="tasks" *ngIf="task"><h3>{{task.name}}</h3></a>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Текст</td>
        <td>Тип выбора</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let it of topics">
            <ng-template
            [ngTemplateOutlet]="loadTemplate(it)"
            [ngTemplateOutletContext]="{ $implicit: it}"
            >
            </ng-template>
          </tr>
        </tbody>
  </table>
  <input
     type="button"
     value="Добавить"
     class="btn btn-default"
     (click)="addTopic()"
     *ngIf="!isNewRecord"
  />

  <ng-template #readOnlyTemplate let-it>
    <td>{{it.name}}</td>
    <td *ngIf="it.radio==0">Множественный выбор</td>
    <td *ngIf="it.radio==1">Одиночный выбор</td>
    <td>
        <input
          type="button"
          value="Редактировать"
          (click)="goTo(it)"
          class="btn btn-success"
          />
     </td>
     <td>
          <input
            type="button"
            value="Удалить"
            (click)="deleteTopic(it)"
            class="btn btn-danger"
          />
     </td>
 </ng-template>  
 
<ng-template #editTemplate>
  <td>
    <input type="text" [(ngModel)]="editedTopic.name" class="form-control" />
  </td>
  <td>
    <select class="form-control" name="editedTopic.radio" [(ngModel)]="editedTopic.radio">
      <option selected value="0">Множественный выбор</option>
      <option value="1">Одиночный выбор</option>
    </select>
  </td>
  <td>
    <input
    type="button"
    value="Сохранить"
    (click)="createTopic()"
    class="btn btn-success"
  />
  </td>
   <td>
    <input
    type="button"
    value="Отмена"
    (click)="cancel()"
    class="btn btn-warning"
  />
  </td>
</ng-template>
