<h1>Список пользователей</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Имя</td>
      <td>EMail</td>
      <td>Роль</td>
      <td>Группа</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <ng-template
        [ngTemplateOutlet]="loadTemplate(user)"
        [ngTemplateOutletContext]="{ $implicit: user}"
      >
      </ng-template>
    </tr>
  </tbody>
</table>

<ng-template #readOnlyTemplate let-user>
  <td>{{user.username}}</td>
  <td>{{user.email}}</td>
  <td *ngIf="user.roleId==1">Преподаватель</td>
  <td *ngIf="user.roleId==2">Студент</td>
  <td>
    <div *ngFor="let it of groups">
      <div *ngIf="it.id==user.group_id">{{it.name}}</div>
    </div>
  </td>
  <td>
    <input
      type="button"
      value="Изменить"
      class="btn btn-default"
      (click)="editUser(user)"
    />
  </td>
  <td>
    <input
      type="button"
      value="Удалить"
      (click)="deleteUser(user)"
      class="btn btn-danger"
    />
  </td>
</ng-template>

<ng-template #editTemplate>
  <td>{{editedUser.username}}</td>
  <td>{{editedUser.email}}</td>
  <td>
  <select class="form-control" name="editedUser.roleId" [(ngModel)]="editedUser.roleId">
    <option value="1">Преподаватель</option>
    <option value="2">Студент</option>
  </select>
  </td>
  <td>
    <select class="form-control" name="editedUser.group_id" [(ngModel)]="editedUser.group_id" *ngIf="editedUser.roleId==2">
      <option *ngFor="let it of groups" [value]="it.id">
        {{ it.name }}
      </option>
    </select>
  </td>
  <td>
    <input
      type="button"
      value="Сохранить"
      (click)="saveUser()"
      class="btn btn-success"
    />
  </td>
  <td>
    <input
      type="button"
      value="Отмена"
      (click)="cancel()"
      class="btn btn-warning"
    />
  </td>
</ng-template>
