<h1>Список заданий</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <td>Дата</td>
        <td>Задание</td>
        <td>Преподаватель</td>
        <td>Оценка</td>
        <td>Примечание</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sched of tasks">
        <td>{{sched.created | date: 'dd/MM/yyyy'}}</td>
        <td>{{sched.task}}</td>
        <td>{{sched.created_by}}</td>
        <td>{{sched.grade}}</td>
        <td>{{sched.note}}</td>
        <td>
            <input
              type="button"
              value="Решать"
              (click)="goTo(sched)"
              class="btn btn-warning"
              *ngIf="sched.grade === null"
              />
              <input
              type="button"
              value="Просмотр"
              (click)="goTo(sched)"
              class="btn btn-success"
              *ngIf="sched.grade !== null && sched.grade_id != 2 && sched.grade_id != 3 && sched.grade_id != 4"
             />
             <input
             type="button"
             value="Просмотр"
             (click)="goTo(sched)"
             class="btn btn-danger"
             *ngIf="sched.grade !== null && (sched.grade_id == 2 || sched.grade_id == 3 || sched.grade_id == 4)"
            />
       </td>
      </tr>
    </tbody>
  </table>
  