<h1>Список заданий</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <td>Дата</td>
        <td>Задание</td>
        <td>Преподаватель</td>
        <td>Оценка</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sched of tasks">
        <td>{{sched.created | date: 'dd/MM/yyyy'}}</td>
        <td>{{sched.task}}</td>
        <td>{{sched.created_by}}</td>
        <td>{{sched.grade}}</td>
        <td>
            <input
              type="button"
              value="Решать"
              (click)="goTo(sched)"
              class="btn btn-default"
              *ngIf="sched.grade === null"
              />
              <input
              type="button"
              value="Смотреть"
              (click)="goTo(sched)"
              class="btn btn-default"
              *ngIf="sched.grade !== null"
             />
        </td>
      </tr>
    </tbody>
  </table>
  