<table class="table">
  <thead>
    <tr>
      <th style="width: 10%">
        <a href="/users">Пользователи</a>
      </th>
      <th style="width: 10%">
        <a href="/groups">Группы</a>
      </th>
      <th style="width: 10%">
        <a href="/tasks">Задания</a>
      </th>
      <th style="width: 10%">
        <b>Оценки</b>
      </th>
      <th style="width: 10%">
        <a href="/profile">Профиль</a>
      </th>
      <th style="width: 90%">
        <a href="/auth">Выйти</a>
      </th>
    </tr>
  </thead>
</table>

<h1>Решённые задания</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <td>Дата</td>
        <td>Задание</td>
        <td>Группа</td>
        <td>Студент</td>
        <td>Примечание</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let it of tasks">
        <td>{{it.solved | date: 'dd/MM/yyyy'}}</td>
        <td>{{it.task}}</td>
        <td>{{it.group_name}}</td>
        <td>{{it.solved_by}}</td>
        <td>{{it.note}}</td>
        <td>
            <input
              type="button"
              value="Оценить"
              (click)="goTo(it)"
              class="btn btn-success"
              />
       </td>
      </tr>
    </tbody>
  </table>
  