<div class="jumbotron">
    <div class="container">
       <div class="row">
          <div class="col-md-6 offset-md-3">
            <a href="sched"><h2>{{slide.task}}</h2></a>
            <div *ngIf="slide.img">
                <img src="api/upload/{{slide.img}}"/>
            </div>    
            <div *ngIf="slide.txt">
                <p>{{slide.txt}}</p>
            </div>
            <div *ngIf="slide.is_radio">
                <div *ngIf="slide.grade_id === null">
                    <p *ngFor="let a of items">
                        <input name="answer" type="radio" [value]="a.id" checked *ngIf="a.is_checked" (change)="onChanged(a)">
                        <input name="answer" type="radio" [value]="a.id" *ngIf="!a.is_checked" (change)="onChanged(a)">
                        <label [for]="a.id">{{a.txt}}</label>
                    </p>
                </div>
                <div *ngIf="slide.grade_id !== null">
                    <p *ngFor="let a of items">
                        <input name="answer" type="radio" [value]="a.id" checked *ngIf="a.is_checked" disabled>
                        <input name="answer" type="radio" [value]="a.id" *ngIf="!a.is_checked" disabled>
                        <label [for]="a.id">{{a.txt}}</label>
                    </p>
                </div>
            </div>
            <div *ngIf="!slide.is_radio">
                <div *ngIf="slide.grade_id === null">
                    <p *ngFor="let a of items">
                        <input name="answer" type="checkbox" [value]="a.id" [checked]="a.is_checked" (change)="onChanged(a)">
                        <label [for]="a.id">{{a.txt}}</label>
                    </p>
                </div>
                <div *ngIf="slide.grade_id !== null">
                    <p *ngFor="let a of items">
                        <input name="answer" type="checkbox" [value]="a.id" [checked]="a.is_checked" disabled>
                        <label [for]="a.id">{{a.txt}}</label>
                    </p>
                </div>
            </div>
            <input
            type="button"
            value="Назад"
            (click)="goTo(slide.prev)"
            class="btn btn-default"
            *ngIf="slide.prev"
            />
            <input
            type="button"
            value="Далее"
            (click)="goTo(slide.next)"
            class="btn btn-default pull-right"
            *ngIf="slide.next"
            />
          </div>
        </div>
     </div>
 </div>
